<!doctype html>
<html>
<head>
  <title>password_reset_done</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
</head>

<body>
{% extends "base.html" %}
{% block content %}
<div id="center">
<a href = "{% url 'index'%}"><img src="MBchaTIng.jpg" width="25%"></a>
<br>
<div class="container my-3">
    <h4 class="border-bottom pb-2 my-3"><h2>이메일 전송 완료</h2></h4>
<a href="{% url 'index' %}" class="btn btn-primary" style="font-size:12px; color:black; text-decoration:none;" >처음으로</a>
</div>
</div>
{% endblock %}
</body>
