회원가입페이지
<br>
<form action "" method="POST" enctype="multipart/form-data">
    {%csrf_token%}
    <p>ID</p> 
    <input name="username" type="text">
    <p>password</p>
    <input name="password" type="password">
    <p>이름</p>
    <input name="firstname" type="text">
    <p>전화번호</p>
    <input name="firstname" type="text">
    <p>MBTI</p>
    <input name="lastname" type="text">
    <p>MBTI를 모르실 경우, MBTI 검사를 받고 적기 바랍니다. 
    <a href=https://www.16personalities.com/ko/%EB%AC%B4%EB%A3%8C-%EC%84%B1%EA%B2%A9-%EC%9C%A0%ED%98%95-%EA%B2%80%EC%82%AC>
        MBTI 검사 사이트
    </a>
    </p>
    <p>이메일</p>
    <input name="email" type="text">
    <p>학번</p>
    <input name="student_id" type="text">
    <p>인증파일</p>
    <input name="profile_img" type="file">
    <input type="submit" value="회원가입"> 
</form>
